@model POOI_cibertec_demo.Models.Producto

<h2>Registro de producto</h2>
<form class="col-lg-4" method="post">
    <div class="mt-4">
        <label class="form-label">Nombre:</label>
        <input class="form-control" asp-for="Nombre" />
    </div>
    <div class="mt-2">
        <label class="form-label">Precio:</label>
        <input class="form-control" asp-for="Precio"/>
    </div>
    <div class="mt-2">
        <label class="form-label">Cantidad:</label>
        <input class="form-control" asp-for="Cantidad"/>
    </div>
    <div class="mt-2">
        <label class="form-label">Categoría</label>
        <input class="form-control" asp-for="Categoria" />
    </div>
    <div class="mt-3">
        <button class="btn btn-primary" type="submit">Procesar</button>
    </div>
</form>
<hr />
<p>Subtotal: @ViewBag.Subtotal.ToString("0.00")</p>
<p>Descuento: @ViewBag.Descuento.ToString("0.00")</p>
<p>Total: @ViewBag.Total.ToString("0.00")</p>