@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bienvenido a Programación Orientada a Objetos 1</h1>
    <p>Sistema de lista de compras de mercado</p>
</div>
